.header {
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 999;
}

.header_left {
    display: flex;
}

.header_left>img {
    object-fit: contain;
    height: 30px;
    margin-right: 10px;
}

.header_search {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 12px;
    color: gray;
    background-color: #eef3f8;
}

.header_search>input {
    outline: none;
    border: none;
    background: none;
}

.header_right {
    display: flex;
}